<h1>RDBMS Web Client 😻</h1>
<h2>Why did we build the product?</h2>
<nav>
  <ol>
    <li>Cumbersome to write long sql commands.</li>
    <li>Apply newly acquired expressJS skills</li>
    <li>Automate data query and manipulation commands</li>
  </ol>
</nav>