<div>
  <%= title %>
</div>
<form action="/verify/login" method="post">
  <input type="text" name="username" id="username">
  <input type="text" name="password" id="password">
  <input type="submit" name="login" id="submit" value="Login">
</form>