<div>
  <h1>Create Table</h1>
</div>
<form action="/table/create" method="post">
  <input type="text" name="tableName" id="tableName">
  <input type="text" name="columns" id="columns">
  <input type="submit" name="submit" id="submit">
</form>